server:
    port: 8080
spring:
  application:
    name: Employee-Management-System-Backend

  datasource:
    url: jdbc:mysql://localhost:3306/employee_management
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true